/*eoCMS E.G Interactive theme Copyright &copy; E.G Interactive 2009*/
body
{
	font: 10pt Verdana, Arial, Helvetica, sans-serif;
	background: #161616 url(images/pagebg.jpg) repeat-x;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #7dbded;
}
.thrColLiqHdr #container
{
	width: 95%;
	background: #181818;
	margin: 0 auto;
	border: 1px solid #000000;
	text-align: left;
}
.thrColLiqHdr #header
{
	background: url(images/header_bg.png) no-repeat center;
	width: 100%;
	padding: 0 10px;
}
.thrColLiqHdr #header h1
{
	margin: 0;
	padding: 10px 0;
}
.thrColLiqHdr #sidebar1
{
	float: left;
	width: 22%;
	padding: 15px 0;
}
.thrColLiqHdr #sidebar2
{
	float: right;
	width: 23%;
	padding: 15px 0;
}
.thrColLiqHdr #sidebar1 p, .thrColLiqHdr #sidebar1 h3, .thrColLiqHdr #sidebar2 p, .thrColLiqHdr #sidebar2 h3
{
	margin-left: 10px;
	margin-right: 10px;
}
.thrColLiqHdr #mainContent
{
	margin: 0 24% 0 23.5%;
}
.thrColLiqHdr #footer
{
	padding: 0 10px;
	background: #333 url(images/footer.jpg) repeat-x;
	text-align: center;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	border-left: 0 solid #000;
	border-right: 0 solid #000;
}
.thrColLiqHdr #footer p
{
	margin: 0;
	padding: 10px 0;
}
.clearfloat
{
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
}
a:link
{
	color: #7dbded;
	text-decoration: none;
}
a:visited
{
	color: #7dbded;
	text-decoration: none;
}
a:active
{
}
a:hover
{
	color: #7dbded;
	text-decoration: underline;
}
a img
{
	border: 0pt none;
}
input, textarea, button
{
	color: #000;
	font-family: verdana, sans-serif;
}
input, button
{
	font-size: 90%;
}
textarea
{
	background: #333333;
	color: #7dbded;
	border: 1px solid #7dbded;
}
.pagination-right {
	float: right;
	height: 0px;
	width: auto;
}
.titlebg
{
	background: #292929 url(images/titlebg.jpg) repeat-x;
	color: #fff;
	font-size: 10pt;
	font-family: verdana, sans-serif;
}
.small-text
{
	font-size: x-small;
}
.subtitlebg
{
	color: #FFFFFF;
	font-weight: bold;
	background-color: #333333;
}
.topside-l
{
	background: url(images/topside-l.png) repeat-y 0 50%;
	padding-left: 15px;
}
.topside-r
{
	background: url(images/topside-r.png) repeat-y 100% 50%;
	padding-right: 15px;
}
#navbar
{
	background: #333 url(images/navbar.gif);
	width: auto;
	margin: 0 auto 0;
	padding: 5px 0 9px 0;
}
#navbar li
{
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#navbar ul
{
	margin: 0;
	padding: 0;
}
#navbar ul li
{
	margin: 0;
	padding: 0;
}
#navbar ul li a
{
	color: #FFFFFF;
	font-size: 10px;
	padding: 5px 20px 9px;
	text-decoration: none;
	text-transform: uppercase;
}
#navbar ul li a:hover
{
	background: #333 url(images/navhover.gif);
	color: #fff;
}
#navbar ul li a:hover, #navbar a:active
{
	background: #333 url(images/navhover.gif);
	color: #fff;
}
.content
{
	background: #333333;
	color: #7dbded;
}
.panelbg
{
	background: #5F5F5F url(images/panelbg.png) no-repeat;
	color: #7dbded;
}
.imagebutton
{
	background: url(images/button.gif) no-repeat;
	width: 75px;
	margin: 0 auto 0;
	padding: 5px 12px 10px 7px;
	position: static;
	font-size: 8pt;
}
.adminbutton
{
	background: url(images/admin%20panel%20button.png) no-repeat;
	width: 204px;
	height: 45px;
}
.adminbutton a
{
	float: left;
	margin-top: 10px;
}
.adminicon
{
	float: left;
	margin-left: 15px;
	border: 0;
}
select
{
	background: #333333;
	color: #7dbded;
}
input
{
	background: #333333;
	color: #7dbded;
}
.markItUp .markItUpButton1 a
{
	background-image: url(images/bold.png);
}
.markItUp .markItUpButton2 a
{
	background-image: url(images/italic.png);
}
.markItUp .markItUpButton3 a
{
	background-image: url(images/underline.png);
}
.markItUp .markItUpButton4 a
{
	background-image: url(images/stroke.png);
}
.markItUp .markItUpButton5 a
{
	background-image: url(images/picture.png);
}
.markItUp .markItUpButton6 a
{
	background-image: url(images/link.png);
}
.markItUp .markItUpButton7 a
{
	background-image: url(images/fonts.png);
}
.markItUp .markItUpButton8 a
{
	background-image: url(images/list-bullet.png);
}
.markItUp .markItUpButton9 a
{
	background-image: url(images/list-numeric.png);
}
.markItUp .markItUpButton10 a
{
	background-image: url(images/list-item.png);
}
.markItUp .markItUpButton11 a
{
	background-image: url(images/quotes.png);
}
.markItUp .markItUpButton12 a
{
	background-image: url(images/code.png);
}
.markItUp .clean a
{
	background-image: url(images/clean.png);
}
.markItUp .preview a
{
	background-image: url(images/preview.png);
}
.markItUp *
{
	margin: 0px;
	padding: 0px;
	outline: none;
}
.markItUp a:link,
.markItUp a:visited
{
	color: #7dbded;
	text-decoration: none;
}
.markItUp
{
	width: 99%;
	margin: 5px 0 5px 0;
	border: 1px solid #7dbded;
}
.markItUpContainer
{
	border: 1px solid #7dbded;
	background: #FFF url(images/bg-container.png) repeat top left;
	padding: 5px 5px 2px 5px;
	font: 11px Verdana, Arial, Helvetica, sans-serif;
}
.markItUpEditor
{
	font: 12px 'Courier New', Courier, monospace;
	padding: 5px 5px 5px 35px;
	border: 1px solid #7dbded;
	width: 643px;
	height: 320px;
	background: #FFF url(images/bg-editor.png) repeat top left;
	display: block;
	line-height: 18px;
	overflow: auto;
}
.markItUpPreviewFrame
{
	overflow: auto;
	background-color: #181818;
	border: 1px solid #7dbded;
	width: 99.9%;
	height: 300px;
	margin: 5px 0;
}
.markItUpFooter
{
	width: 100%;
	cursor: n-resize;
}
.markItUpResizeHandle
{
	overflow: hidden;
	width: 22px;
	height: 5px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(images/handle.png);
	cursor: n-resize;
}
.markItUpHeader ul li
{
	list-style: none;
	float: left;
	position: relative;
}
.markItUpHeader ul li ul
{
	display: none;
}
.markItUpHeader ul li:hover > ul
{
	display: block;
}
.markItUpHeader ul .markItUpDropMenu
{
	background: transparent url(images/menu.png) no-repeat 115% 50%;
	margin-right: 5px;
}
.markItUpHeader ul .markItUpDropMenu li
{
	margin-right: 0px;
}
.markItUpHeader ul .markItUpSeparator
{
	margin: 0 10px;
	width: 1px;
	height: 16px;
	overflow: hidden;
	background-color: #CCC;
}
.markItUpHeader ul ul .markItUpSeparator
{
	width: auto;
	height: 1px;
	margin: 0px;
}
.markItUpHeader ul ul
{
	display: none;
	position: absolute;
	top: 18px;
	left: 0px;
	background: #F5F5F5;
	border: 1px solid #3C769D;
	height: inherit;
}
.markItUpHeader ul ul li
{
	float: none;
	border-bottom: 1px solid #3C769D;
}
.markItUpHeader ul ul .markItUpDropMenu
{
	background: #F5F5F5 url(images/submenu.png) no-repeat 100% 50%;
}
.markItUpHeader ul ul ul
{
	position: absolute;
	top: -1px;
	left: 150px;
}
.markItUpHeader ul ul ul li
{
	float: none;
}
.markItUpHeader ul a
{
	display: block;
	width: 16px;
	height: 16px;
	text-indent: -10000px;
	background-repeat: no-repeat;
	padding: 3px;
	margin: 0px;
}
.markItUpHeader ul ul a
{
	display: block;
	padding-left: 0px;
	text-indent: 0;
	width: 120px;
	padding: 5px 5px 5px 25px;
	background-position: 2px 50%;
}
.markItUpHeader ul ul a:hover
{
	color: #FFF;
	background-color: #3C769D;
}
.bbcode .markItUpEditor
{
	background-image: url(images/bg-editor-bbcode.png);
}
.markItUp .colors a
{
	background-image: url(images/colors.png);
}
.markItUp .colors ul
{
	width: 81px;
	padding: 1px;
}
.markItUp .colors li
{
	border: 1px solid white;
	width: 25px;
	height: 25px;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	float: left;
}
.markItUp .colors ul a
{
	width: 25px;
	height: 25px;
}
.markItUp .colors ul a:hover
{
	background-color: #181818;
}
.markItUp .colors .col1-1 a
{
	background: yellow;
}
.markItUp .colors .col1-2 a
{
	background: orange;
}
.markItUp .colors .col1-3 a
{
	background: red;
}
.markItUp .colors .col2-1 a
{
	background: blue;
}
.markItUp .colors .col2-2 a
{
	background: purple;
}
.markItUp .colors .col2-3 a
{
	background: green;
}
.markItUp .colors .col3-1 a
{
	background: white;
}
.markItUp .colors .col3-2 a
{
	background: gray;
}
.markItUp .colors .col3-3 a
{
	background: black;
}
.error
{
	font-size: 11px;
	color: #FF0000;
}
.panelcontent
{
	background: url(images/panelbg.png) no-repeat;
}
.topic
{
	background: #333 url(images/topicview.png);
	color: #7dbded;
	border-right: 0px solid #999;
	border-left: 0px solid #999;
	border-bottom: 0px solid #999;
}
.sticky
{
	background: #000 url(images/stickyview.png);
	color: #7dbded;
	border-right: 0px solid #999;
	border-left: 0px solid #999;
	border-bottom: 0px solid #999;
}
.topic a
{
	color: #7dbded;
}
.topic a:hover
{
	color: #FFF;
}
.sticky a
{
	color: #7dbded;
}
.sticky a:hover
{
	color: #FFF;
}
.html .markItUp .markItUpButton1 a
{
	background-image: url(images/h1.png);
}
.html .markItUp .markItUpButton2 a
{
	background-image: url(images/h2.png);
}
.html .markItUp .markItUpButton3 a
{
	background-image: url(images/h3.png);
}
.html .markItUp .markItUpButton4 a
{
	background-image: url(images/h4.png);
}
.html .markItUp .markItUpButton5 a
{
	background-image: url(images/h5.png);
}
.html .markItUp .markItUpButton6 a
{
	background-image: url(images/h6.png);
}
.html .markItUp .markItUpButton7 a
{
	background-image: url(images/paragraph.png);
}
.html .markItUp .markItUpButton8 a
{
	background-image: url(images/bold.png);
}
.html .markItUp .markItUpButton9 a
{
	background-image: url(images/italic.png);
}
.html .markItUp .markItUpButton10 a
{
	background-image: url(images/stroke.png);
}
.html .markItUp .markItUpButton11 a
{
	background-image: url(images/list-bullet.png);
}
.html .markItUp .markItUpButton12 a
{
	background-image: url(images/list-numeric.png);
}
.html .markItUp .markItUpButton13 a
{
	background-image: url(images/list-item.png);
}
.html .markItUp .markItUpButton14 a
{
	background-image: url(images/picture.png);
}
.html .markItUp .markItUpButton15 a
{
	background-image: url(images/link.png);
}
.html .markItUp .clean a
{
	background-image: url(images/clean.png);
}
.html .markItUp .preview a
{
	background-image: url(images/preview.png);
}
.help
{
	background: url(images/QuestionMark.png) no-repeat;
	height: 18px;
	width: 18px;
	display: inline-block;
	cursor: pointer;
}
.tooltip
{
	background: #FFFFCC;
	border: 1px solid #FF3333;
	color: #333;
	display: none;
	width: 10%;
}
.highlight
{
	background-color: #FF0000;
}
.ajax
{
	display: none;
	font-size: 20pt;
	text-align: center;
	background: #000000;
	font-weight: bold;
	color: #7dbded;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 65535;
}
.contactinfo
{
	background: #000000;
	color: #FFFFFF;
}
.seperator
{
	border: none;
	border-top: 1px solid #4A4776;
	width: 100%;
}
.seperator2
{
	border: none;
	border-top: 1px solid #FFFFFF;
	width: 100%;
}
.inline
{
	background: #FFFFCC;
}
#navbartop
{
	background: #333 url(images/navbar.gif);
	width: 100%;
	margin: 0px;
	line-height: 29px;
	padding: 0px;
}
#navbartop li
{
	display: inline;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#navbartop ul
{
	margin: 0px;
	padding: 0px;
}
#navbartop ul li
{
	margin: 0px;
	padding: 0px;
}
#navbartop ul li a
{
	color: #FFFFFF;
	font-size: 10px;
	padding: 9px 20px 8px;
	text-decoration: none;
	text-transform: uppercase;
}
#navbartop ul li a:hover
{
	background: #333 url(images/navhover.gif);
	color: #fff;
}
#navbartop ul li a:hover, #navbar a:active
{
	background: #333 url(images/navhover.gif);
	color: #fff;
}
.bbcode_quote, .bbcode_code
{
	margin: 0px 2px;
	padding: 0px 2px;
}
.bbcode_quote_head, .bbcode_code_head
{
	font: 8pt;
	color: #7dbded;
}
.bbcode_quote_body
{
	border: 1px solid #7dbded;
	font: 10pt Verdana, Arial, Helvetica, sans-serif;
	color: #7dbded;
	background-color: #101010;
	padding: 0px 3px;
}
.bbcode_code_body
{
	border: 1px solid #FFFFFF;
	font: 10pt Courier New;
	color: #FFFFFF;
	background-color: #000000;
	overflow: auto;
	max-height: 20em;
}
.admin-divide {
	padding-left: 1%;
}
.admin-panel {
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	text-align: center;
}
.admin-panel2 {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	text-align: center;
}
.admin-table {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
}
.admin-table2 {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: left;
	border-spacing: 0;
}
.admin-subtitlebg {
	background-color: #CCC;
}
.visiblebox {
	display: none;
	text-align: left;
}
#eocmsnews {
	overflow: auto; 
	height: 100px; 
	text-align: left;	
}
.admin-area {
	margin-top: 15px;
	width: 100%;
}
.navbar-admin-top {
	width: 150px;
}
.navbar-admin-top ul {
	padding-left: 10px;
	list-style: none;
}